<div class="ff-breadcrumb-trail">
    <span class="description">{{ translate({ ident: "FF_YOUR_SEARCH_FOR" }) }}</span>
    <ff-breadcrumb-trail unresolved></ff-breadcrumb-trail>
    <ff-template scope="result" unresolved>{{ translate({ ident: "FF_PRODUCED_X_RESULTS" }) }}</ff-template>
</div>
