#spinner {
    box-sizing: border-box;
    margin: 20px;
    display: block;
    width: 50px;
    height: 50px;
}

.loading {
    border: 3px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.text-error {
    color: #F00000;
    font-weight: bold;
}

.text-success {
    color: #28a745;
    display: block;
}

input[type="button"].row-remove {
    width:12px;
    height: 11px;
    background: url(../../../../../../out/admin/img/delete_button.gif) no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    border: 0;
}

input[type="url"], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
    color: #555;
    min-height: 15px;
    line-height: 1.42857;
    padding: 3px;
    font-size: 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background: #fff;
}
