<ff-campaign-advisor unresolved>
    <ff-campaign-advisor-question>
        <div class="campaign-question" data-question>{{ '{{ text }}' }}</div>
        <ff-campaign-advisor-answer>
            <div class="campaign-answer">{{ '{{ text }}' }}</div>
        </ff-campaign-advisor-answer>
    </ff-campaign-advisor-question>
</ff-campaign-advisor>
